* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #828bb2;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}

.navbar {
    background-color:#e9eaf1;
    /* opacity: .05; */
    /* position: fixed; */
}
.nav-link{
    color: #415094;
}
.dropdown-menu .dropdown-item{
    font-size: 12px;
    text-align: left;
    margin: 0;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.1rem .5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #57363600;
    border: 0;
}

.navbar-second {
    height: 15vh;
}

.navbar-second img {
    margin-left: 40px;
    margin-top: 20px;
}

.bg-image-second {
    height: 100vh;
    color: #ddd;
    background: no-repeat center /cover;
}

.bg-image-second .container {
    height: 100vh;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

.bg-image-second .content {
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg-image:hover {
    background-position: 0;
}

.bg-image .container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-image {
    background: no-repeat center /cover;
    height: 100vh;
    color: #ddd;
}

.bg-image .container .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    color: #222;
    right: -20px;
    left: auto;
    bottom: -20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

section.container {
    padding: 2.5rem 1rem;
}

/* Footer-styling */
.footer-area {
    background-color: #000
}

.section-gap {
    padding: 120px 0px;
    margin-top: 100px;
}

.footer_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 28px;
}

.single-footer-widget {
    margin-bottom: 0;
    color: #828bb2;
    max-width: 235px;

}

.single-footer-widget .subscribe_form {
    padding-top: 25px;
}

.relative {
    position: relative;
}

.single-footer-widget .input-group {
    display: block;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;

}

.input-group {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;

}

.flex-row {
    flex-direction: row;
}

.single-footer-widget .sub-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    line-height: 34px;
    padding: 4px 11px 0;
    position: absolute;
    right: 0;
    top: 0;

}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.single-footer-widget .sub-btn span {
    position: relative;
    top: -1px;
}

.lnr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

}

.single-footer-widget .instafeed {
    margin-left: 30px;
    margin-left: -5px;
    margin-right: 20px;

}

.d-flex {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
    border-style: none;
    margin: 5px;
}

.footer-text {
    color: #9c9e0e;
    text-align: left;
}

.protfolio-widget {
    text-align: left;
}

.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.protfolio-widget .p-text {
    margin-top: 20px;
}

.protfolio-widget .social-links {
    position: absolute;
    top: 10.50%;
    left: 50px;
    transform: translateX(-50%);
}

.protfolio-widget .social-links li {
    padding-right: 10px;
    display: inline-block;
}

.protfolio-widget .social-links li a {
    height: 30px;
    width: 30px;
    background: rgba(130, 139, 178, .3);
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #828bb2;
}

a {
    transition: all .3s ease;
    color: #828bb2;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}

.popular-posts-widget .jq-tab-menu {
    text-align: center;
    border-bottom: 1px solid rgba(130, 139, 178, .4);
}

.popular-posts-widget .jq-tab-menu .jq-tab-title.active {
    border-bottom: 1px solid #fff;
}

.popular-posts-widget .jq-tab-menu .jq-tab-title {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 46px 15px;
    cursor: pointer;
}

.popular-posts-widget .single-popular-post {
    border-bottom: 1px solid rgba(130, 139, 178, .4);
    padding: 30px 0;
}

.flex-row {
    flex-direction: row;
}

.d-flex {
    display: flex;
}

.popular-posts-widget .single-popular-post .popular-details h6 {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    margin-top: 0;
}

h6 {
    font-size: 14px;
}

h4 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rubik, sans-serif;
    color: #fff;
    font-weight: 500;
}

.popular-posts-widget .single-popular-post .popular-details h6 a {
    color: #fff;
    font-size: 14px;
}

.popular-posts-widget .single-popular-post .popular-details p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
}

p {
    margin-top: 0;
}

.single-widget .title {
    position: relative;
    padding: 18px 0 15px;
    color: #fff;
    border-bottom: 1px solid rgba(130, 139, 178, .4);
    margin-bottom: 20px;
}

.category-widget ul li p {
    position: relative;
    color: #828bb2;
    margin: 0;
    transition: all .3s ease 0s;
}

.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}

.tags-widget ul li {
    display: inline-block;
    background: rgba(130, 139, 178, .3);
    padding: 5px 10px;
    margin-bottom: 8px;
    transition: all .3s ease 0s;
}

.tags-widget ul li a {
    font-weight: 300;
    color: #828bb2;
    text-decoration: none;
}
.banner-area{
    background: no-repeat center /cover;
    height: 50vh;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #6610f2;
    opacity: 0.7;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.d-flex{
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about-content {
    margin-top: 65px;
    padding: 120px 0;
    text-align: center;
}
.about-content h1 {
    font-size: 36px;
    font-weight: 500;
}
.text-white{
    color: #fff;
}
.link-nav{
    margin-top: 10px;
}
.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
a, a:focus, a:hover{
    text-decoration: none;
    outline: 0;
}
.link-nav a{
    transition: all .3 ease 0s;
    background-color: transparent;
}
.about-content .lnr {
    margin: 0 10px;
    font-weight: 600;
}
.lnr {
    font-family: linearicons-free;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

