* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #6610f2;
    /* position: fixed; */
    
}

.bg-image {
    background: url(img/post1.jpg) no-repeat -10% /cover;
    height: 80vh;
    color: #ddd;
}
.bg-image-second {
    background: url(img/post2.jpg) no-repeat -10% /cover;
    height: 80vh;
    color: #ddd;
}

.bg-image:hover,
.bg-image-1:hover,.bg-image-2:hover,
.bg-image-3:hover, .bg-image-4:hover,
.bg-image-5:hover, .bg-image-6:hover,
.bg-image-7:hover, .bg-image-8:hover {
    background-position: 0;
}

.bg-image .container,
.bg-image-1 .container,
.bg-image-second .container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-2 .container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-3 .container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-4 .container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-5 .container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-6 .container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-7 .container {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-image-8 .container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.bg-image .container .content,
.bg-image-1 .container .content,
.bg-image-second .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.bg-image-2 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.bg-image-3 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.bg-image-4 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.bg-image-5 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.bg-image-6 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.bg-image-7 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.bg-image-8 .container .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}




.bg-image-1 {
    background: url(img/c1.jpg) no-repeat center /cover;
    height: 100vh;
    color: #ddd;
}
.bg-image-2 {
    background: url(img/c2.jpg) no-repeat center /cover;
    height: 100vh;
    margin-left: 30px;
    color: #ddd;
}
.bg-image-3 {
    background: url(img/c3.jpg) no-repeat center /cover;
    height: 100vh;
    color: #ddd;
}
.bg-image-4 {
    background: url(img/c4.jpg) no-repeat center /cover;
    height: 100vh;
    margin-left: 30px;
    color: #ddd;
}
.bg-image-5 {
    background: url(img/c1.jpg) no-repeat center /cover;
    height: 100vh;
    color: #ddd;
}
.bg-image-6 {
    background: url(img/c2.jpg) no-repeat center /cover;
    height: 100vh;
    margin-left: 30px;
    color: #ddd;
}
.bg-image-7 {
    background: url(img/c3.jpg) no-repeat center /cover;
    height: 100vh;
    color: #ddd;
}
.bg-image-8 {
    background: url(img/c4.jpg) no-repeat center /cover;
    height: 100vh;
    margin-left: 30px;
    color: #ddd;
}


.bg-image-1 .container .content{
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-2 .container .content {
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-3 .container .content{
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-4  .container .content {
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-5 .container .content{
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-6  .container .content {
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-7 .container .content{
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
.bg-image-8  .container .content {
    background-color: #fff;
    color: #222;
    right: -2rem;
    left: auto;
    bottom: -2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}


section.container,
section.container-fluid{
    padding: 5rem 1rem;
}
section.container{
    padding: 2.5rem 1rem;
}
/* Footer-styling */
.footer-area{
    background-color: #000
}
.section-gap{
    padding: 120px 0px;
    margin-top: 100px;
}
.footer_title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 28px;
}
.single-footer-widget{
    margin-bottom: 0;
    color: #828bb2;
    max-width: 235px;

}
.single-footer-widget .subscribe_form{
    padding-top: 25px;
}
.relative{
    position: relative;
}
.single-footer-widget .input-group{
    display: block;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;

}
.input-group{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;

}

.flex-row{
    flex-direction: row;
}
.single-footer-widget .sub-btn{
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    line-height: 34px;
    padding: 4px 11px 0;
    position: absolute;
    right: 0;
    top: 0;

}
.btn{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.single-footer-widget .sub-btn span{
    position: relative;
    top: -1px;
}
.lnr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

}
.single-footer-widget .instafeed{
    margin-left: 30px;
    margin-left: -5px;
    margin-right: 20px;

}
.d-flex{
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    vertical-align: middle;
    border-style: none;
    margin: 5px;
}
.footer-text{
    color: #9c9e0e;
    text-align: left;
}
.protfolio-widget{
    text-align: left;
}
.single-widget{
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
img{
    vertical-align: middle;
    border-style: none;
}
.protfolio-widget .p-text{
    margin-top: 20px;
}
.protfolio-widget .social-links{
    position: absolute;
    top: 10.50%;
    left: 50px;
    transform: translateX(-50%);
}
.protfolio-widget .social-links li{
    padding-right: 10px;
    display: inline-block;
}
.protfolio-widget .social-links li a {
    height: 30px;
    width: 30px;
    background: rgba(130,139,178,.3);
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #828bb2;
}
a{
    transition: all .3s ease;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}
.popular-posts-widget .jq-tab-menu {
    text-align: center;
    border-bottom: 1px solid rgba(130,139,178,.4);
}
.popular-posts-widget .jq-tab-menu .jq-tab-title.active {
    border-bottom: 1px solid #fff;
}
.popular-posts-widget .jq-tab-menu .jq-tab-title {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 46px 15px;
    cursor: pointer;
}
.popular-posts-widget .single-popular-post {
    border-bottom: 1px solid rgba(130,139,178,.4);
    padding: 30px 0;
}
.flex-row{
    flex-direction: row;
}
.d-flex{
    display: flex;  
}
.popular-posts-widget .single-popular-post .popular-details h6 {
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-top: 0;
}
h6 {
    font-size: 14px;
}
h4{
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: rubik,sans-serif;
    color: #000;
    font-weight: 500;
}
.popular-posts-widget .single-popular-post .popular-details h6 a {
    color: #fff;
    font-size: 14px;
}
.popular-posts-widget .single-popular-post .popular-details p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
}
p{
    margin-top: 0;
}
.single-widget .title {
    position: relative;
    padding: 18px 0 15px;
    color: #fff;
    border-bottom: 1px solid rgba(130,139,178,.4);
    margin-bottom: 20px;
}
.category-widget ul li p {
    position: relative;
    color: #828bb2;
    margin: 0;
    transition: all .3s ease 0s;
}
.single-widget {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
    background: #1e1c27;
}
.tags-widget ul li {
    display: inline-block;
    background: rgba(130,139,178,.3);
    padding: 5px 10px;
    margin-bottom: 8px;
    transition: all .3s ease 0s;
}
.tags-widget ul li a {
    font-weight: 300;
    color: #828bb2;
}